/************************** variable ************************/
@dark1_br: #3b2701;
@dark2_br:#684909;
@brown: #8b620d;
@light1_br: #ecd8b5;
@li1_green: #fff;
@li2_green: #fff;
@green: #8b9f53;
@da1_green: #496402;
@da2_green: #304102;

/************************** end variable ********************/
/************************* font face ************************/
@font-face {
	font-family: "Nassim";
	src: url("./fonts/nassim_bold.eot?#");
	src: local("Nassim"),
		url("./fonts/nassim_bold.woff") format("woff"),
		url("./fonts/nassim_bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
/*********************** end font face **********************/
/***************** general css *******************/
*{
	padding:0;
	margin:0;
}
body{
	direction: rtl;
	color: @dark1_br;
	line-height: 27px;
	min-width: 950px;
	//background-image:url('../images/bg.jpg');//bg9
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #fff;
	font-family:  Tahoma;//"Nassim", "Times New Roman",
	-webkit-font-smoothing: subpixel-antialiased ;
	font-size:15px;
	
	text-align: justify;
}
.clear{
	width:0px !important;
	height:0px!important;
	clear:both;
	float:none !important;
	border:none !important;
	outline:none !important;
}
a img{
	border:none;
}
a:active{
	border:none ;
}
.title{
	width:  250px;
	height: 29px;
	margin: 10px 0 ;
	.transition(all,0.7s);
	&:hover{
		background-position:bottom left;
	}
}
/*.title{
	color:@light1_br;
	background-color: @dark2_br;
	font-size: 16px;
	font-style: normal;	
	padding: 3px 8px;
	.border-radius();
	.transition(all,0.2s);
	&:hover{
		font-style: oblique;
		background-color: @light1_br;
		color:@dark2_br;
	}
}*/
.ttl{
	font-size: 16px;
	font-style: oblique;
}
/************************** end general *********************/

/************************** functions ***********************/
.border-radius(@radius :5px){
	border-radius:@radius ;
	-webkit-border-radius:@radius ;
	-moz-border-radius:@radius ;
	-o-border-radius:@radius ;
	-ms-border-radius:@radius ;
}
.transition(@property : all, @duration : 2s, @timingFunc : ease){
	transition:@property @duration @timingFunc;
	-webkit-transition:@property @duration @timingFunc ;
	-moz-transition:@property @duration @timingFunc ;
	-o-transition:@property @duration @timingFunc ;
	-ms-transition:@property @duration @timingFunc;
}
// .opacity(@num){
	// 	opacity: @num ;
	//  filter: alpha(opacity = @num *100); //ask: syntax error
// }
.border(@color : gray){
	border: solid 1px @color;
}

.outline(@color : gray){
	outline:solid @color 1px;
}
.center{
	text-align: center !important;
}

/************************** end functions **********************/
div.backimg div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -19;
	background-position: center ;
	background-repeat: no-repeat;
	background-size: cover;
}
.main {
	width: 950px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}
.menu{
	//position: absolute;
	//right: 70px;
	//top: 50px;
	width: 350px;
	margin: 310px 0px 0 0;
	float: right;
	.nav{
		//width: 465px;
		ul{
			list-style-type: none;

			#li1{
				background-image: url('../images/name.png') ;
				width: 350px !important;
				height: 36px !important;
			}
			#li2{
				background-image: url('../images/about.png');
				width: 278px !important;
			}
			#li3{
				background-image: url('../images/txt.png');
				width: 313px !important;
			}
			#li4{
				background-image: url('../images/pic.png');
				width: 345px !important;
			}
			#li5{
				background-image: url('../images/film.png');
				width:  345px!important;
			}
			#li6{
				background-image: url('../images/link.png');
				width: 322px!important;
			}
			#li7{
				background-image: url('../images/contact.png');
				width: 300px !important;
			}
			li {
				.transition(all,0.7s);
				display: block;
				margin-top: 10px;
				height: 30px;
				background-image: url('../images/contact.png');
				
				a{	
					text-align: right;
					height: 40px;
					text-decoration: none;
					display: block;
				}

				&:hover{
					background-position:bottom left;
				}			
			}
		}
	}
}


.content_plc {
	width: 580px;
	height: 600px;
	//margin-right: 370px;
	float: left; //opera margin ro bug dare dar inja bare hamin float midam
	overflow: hidden;
	position: relative;

	> div{
		width: 515px;
		max-height: 495px;
		overflow: auto ;
		padding:15px 30px;
		text-align: justify;
		background-image: url("../images/contentBg.png");
		position: absolute;
		right:-650px;
		top: 500px;
		border: solid @dark2_br 1px;
		.border-radius(8px);

		.aboutttl{
			background-image: url('../images/about.png');
		}
		.linkttl{
			background-image: url('../images/link.png');
		}
		.contactttl{
			background-image: url('../images/contact.png');
		}
		.textttl{
			background-image: url('../images/txt.png');
		}
		td{
			padding: 5px;

			input ,textarea{
				.border-radius();
				height: 27px;
				width: 200px;
				border: solid 2px  @dark2_br;
			}
			textarea{
				height: 150px;
			}
			input[type='submit']{
				background-color: @dark1_br;
				border-color: @brown ;
				color: @li1_green ;
				width: 120px;
				height: 30px;
				font-family: Tahoma;
				font-size: 16px;
				&:hover{
					background-color: @dark2_br;
					border-color: @dark1_br ;
				}
			}			
		}
	}
	#link a{
			text-decoration: none;
			padding: 3px;
			color: @dark1_br;
			&:hover{
				color: @brown;
				border-bottom: 1px solid @brown;
			}
		}
}

/***************************** gallery page css ********************************/
.gallery_ttl{
	padding: 3px;
	margin: 2px auto 10px;
	height: 30px;
	border:ridge 5px #B5CEE7;
	.transition(background-color,0.5s);
}
/*.pics{
	//check  .pics nadarim
	margin-right: 200px;
	padding-right: 10px;
	height: 650px;
	background-image: url("../images/contentBg.png");
}*/

.gal_container{
	width: 580px;
	height: 600px;
	//margin-right: 370px;
	float: left; //opera margin ro bug dare dar inja bare hamin float midam
	overflow: hidden;
	position: relative;

	.pic_plc{
		width: 570px;
		max-height: 520px;
		overflow-x: hidden ;
		overflow-y: auto ;
		text-align: justify;
		background-image: url("../images/contentBg.png");
		position: absolute;
		right:-650px;
		top: 500px;
		border: solid @dark2_br 1px;
		.border-radius(8px);
		
		.filmttl{
			background-image: url('../images/film.png');
		}
		a > div ,.list_film > div{
			border: solid @brown 3px;
			.border-radius(8px);
			width: 240px;
			height: 150px;
			float: right;
			margin: 5px 14px;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #000;
			.transition(all,0.7s);

			.play_ico{
				margin: 35px 80px;
				display: block;
			}
			.info{
				width: 245px;
				height: 40px;
				margin: 75px 0px;
				background-color: fadeout(darken(@light1_br ,10%),40%);
				text-align:center;
				opacity: 0;
				.transition(all,0.7s);
				color: darken(@dark2_br,30%);
				text-shadow:0px 10px 9px dark1_br;
				/*<!--[if IE]>
				display: none;
				<![endif]-->*/
				}
			&:hover{
				border-color: lighten(@brown,10% ) ;
				opacity: 0.9;
					.info{
						opacity: 1;
						/*<!--[if IE]>
						display: block;
						<![endif]-->*/
					}
				}
		}
	}
}
/*************************** film.php page ***************************/
.film_plc{
	height: 520px;
	.move{
		width: 1160px;
		margin-right: -580px;
		position: relative;
		.transition(all,2s);
		.show_film{
			position: absolute;
			display: none;
			width: 575px;
			.video{
				width: 500px;
				height: 350px;
				margin: 20px auto;
				position: relative;

				embed{
					width: 400px;
					height: 350px;
					position: absolute;
					display: none;
				}
				#red1{
					display: none;
				}
				.film1{
					display: none;
				}
				.backToList{
					width: 100px;
					height: 52px;
					background-image: url('../images/back.png');
					position: absolute;
					top: 100px;
					right: 407px;
					cursor: pointer;
					.transition(all,0.5s);
					&:hover{
						right:418px;
					}
				}
			}
			.describe{
				margin: 20px;
				text-align: justify;
				width: 500px;
				line-height: 25px;
				display: block;

				.des_con{
					padding: 10px;
					background-color: darken(@light1_br, 10%);
					border:solid 1px @brown ;
					.border-radius() ;
					margin-bottom: 20px;
				}
			}
		}
		.list_film{
			position: absolute;
			//display: none;
			width: 575px;
			right: 580px;

			> div{
				background-color: darken(@dark2_br, 20%) !important; 
				margin: 15px !important;
				position: relative;
				cursor: pointer;
				
				div{
					position: absolute;
				}
			}
			.info{
				margin: 0px !important;
			}
		}
	}
}
#film_paging{
	top: 370px !important;
	position: absolute;
	right: 580px;
}
.paging{
	//display: none;
	width: 480px;
	margin: 5px 20px;
	padding: 20px;

	ul{
		list-style-type: none;
		li{
			float: left;
			width: 20px;
			height: 25px;
			border: solid @dark2_br 2px;
			text-align: center;
			margin: 3px;
			background-color: darken(@dark2_br,20%);
			.border-radius();
			color: @brown;
			a{
				display: block;
				width: inherit;
				height: inherit;
				text-decoration: none;
				color: @brown;
			}
			&:hover{
				background-color: @brown;
				border-color: darken(@dark2_br,20%);
				a{
					color: darken(@dark2_br,20%);
				}
			}
		}
	}
}
/***************************************** txt.php********************************/
#container_text{
	> div{
		padding: 0 15px;
		margin-bottom: 30px;
		h4{
			color: #684909;
			padding: 10px;
			a{
				text-decoration: none;
				color: #684909
			}
		}
		hr{
			color: @dark1_br;
			background-color: @dark1_br;
			height:1px;
			border-width:0;
		}
		.contiue_link{
			float: left;
			a{
				text-decoration: none;
				color: @dark2_br;
				&:hover{
					color:@brown
				}
			}
		}
	}
}